Repository Sathwik-Amburi/ASE-Delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, publish-frontend, publish-backend

.gitlab-ci.yml:

stages:
  - build
  - publish

variables:
  FRONTEND_DIR: frontend
  BACKEND_DIR: JavaBackend

build-frontend:
  stage: build
  image: node:alpine
  script:
    - cd $FRONTEND_DIR
    - npm i
  only:
    changes:
      - $FRONTEND_DIR/Dockerfile
      - $FRONTEND_DIR/**/*

build-backend:
  stage: build
  image: maven:3-amazoncorretto-19
  script:
    - cd $BACKEND_DIR
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - $BACKEND_DIR/target
  only:
    changes:
      - $BACKEND_DIR/Dockerfile
      - $BACKEND_DIR/**/*

publish-frontend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/frontend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
    - docker build -t $IMG_NAME:$IMG_TAG ./$FRONTEND_DIR
    - docker push $IMG_NAME:$IMG_TAG
  only:
    changes:
      - $FRONTEND_DIR/Dockerfile
      - $FRONTEND_DIR/**/*

publish-backend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/backend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
    - docker build -t $IMG_NAME:$IMG_TAG ./$BACKEND_DIR
    - docker push $IMG_NAME:$IMG_TAG
  only:
    changes:
      - $BACKEND_DIR/target/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

deploy frontend, backend over ngrok
  docker-compose.yml
Due: none

cd stage in GitLab CI/CD, deploy locally with ngrok
  .gitlab-ci.yml
  docker-compose.yml
Due: none

change README.md
  README.md
Due: none

add title page with deploy+run instructions
  README.md
Due: none

typo and turn off deploy stage since local ngrok is not always available
  .gitlab-ci.yml
  README.md
Due: none

cicd cleanup
  .gitlab-ci.yml
  README.md
  docker-compose.yml
Due: none

order added
  frontend/src/components/dispatcherDashboard/Orders/addOrder.jsx
Due: build-frontend, publish-frontend

small changes
  frontend/src/components/dispatcherDashboard/Clients/addCustomer.jsx
  frontend/src/components/dispatcherDashboard/Deliverers/addDeliverer.jsx
  frontend/src/components/dispatcherDashboard/Dispatchers/addDispatcher.jsx
  frontend/src/components/dispatcherDashboard/Orders/addOrder.jsx
Due: build-frontend, publish-frontend

order delete
  frontend/src/components/dispatcherDashboard/Orders/addOrder.jsx
  frontend/src/components/dispatcherDashboard/Orders/orderTable.jsx
  frontend/src/features/order/orderSlice.js
Due: build-frontend, publish-frontend

small changes
  frontend/src/components/dispatcherDashboard/Dispatchers/dispatcherTable.jsx
  frontend/src/features/dispatcher/dispatcherSlice.js
Due: build-frontend, publish-frontend

Pop up window implement
  frontend/src/components/dispatcherDashboard/QRCode.jsx
Due: build-frontend, publish-frontend

Code refinement
  frontend/src/components/dispatcherDashboard/QRCode.jsx
Due: build-frontend, publish-frontend

package json updated
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, publish-frontend

replace Delete with Post
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/controller/ActorController.java
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
Due: build-backend

update readme instructions
  JavaBackend/README.md
Due: build-backend

add 4 statuses
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/utils/OrderStatus.java
Due: build-backend

UI refresh
  frontend/src/components/dispatcherDashboard/QRCode.jsx
Due: build-frontend, publish-frontend

add default user
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/RestApiApplication.java
Due: build-backend

docker changes
  init-mongo.js
Due: none

changes
  frontend/src/components/dispatcherDashboard/Clients/clientTable.jsx
  frontend/src/components/dispatcherDashboard/Deliverers/delivererTable.jsx
  frontend/src/components/login.jsx
  frontend/src/components/navBar.jsx
  frontend/src/features/client/clientSlice.js
  frontend/src/features/deliverer/delivererSlice.js
  frontend/src/features/dispatcher/dispatcherSlice.js
  frontend/src/features/user/userSlice.js
Due: build-frontend, publish-frontend

move constants to the class fields
  JavaBackend/src/main/java/edu/tum/ase/project/RestApiApplication.java
Due: build-backend

test
  frontend/src/components/dispatcherDashboard/Orders/orderTable.jsx
Due: build-frontend, publish-frontend

remove getUndelivOrderByDeliverer
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/controller/ActorController.java
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
  JavaBackend/src/main/java/edu/tum/ase/project/repository/OrderRepository.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
Due: build-backend

basic authentication
  JavaBackend/src/main/java/edu/tum/ase/project/controller/AuthController.java
  JavaBackend/src/main/java/edu/tum/ase/project/repository/ActorRepository.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/AuthService.java
  JavaBackend/src/main/resources/application.properties
Due: build-backend

add boxNumber
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/controller/ActorController.java
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
  JavaBackend/src/main/java/edu/tum/ase/project/model/Order.java
  JavaBackend/src/main/java/edu/tum/ase/project/repository/OrderRepository.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/ActorService.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
  JavaBackend/src/main/java/edu/tum/ase/project/utils/ObjectDoesNotExist.java
  JavaBackend/src/main/java/edu/tum/ase/project/utils/WrongObject.java
Due: build-backend

fix spring.data.mongodb.hos & add some documentation
  JavaBackend/README.md
  JavaBackend/src/main/resources/application.properties
Due: build-backend

add some more comments
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/model/Order.java
  JavaBackend/src/main/resources/application.properties
Due: build-backend

changes
  JavaBackend/src/main/java/edu/tum/ase/project/controller/AuthController.java
  JavaBackend/src/main/resources/application.properties
  frontend/src/components/dispatcherDashboard/Orders/addOrder.jsx
  frontend/src/components/dispatcherDashboard/Orders/orderTable.jsx
  frontend/src/components/login.jsx
  frontend/src/features/order/orderSlice.js
Due: build-frontend, build-backend, publish-frontend

changed env
  frontend/.env
Due: build-frontend, publish-frontend

return bach getUndelivOrderByDeliverer
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
Due: build-backend

merge return bach getUndelivOrderByDeliverer
  JavaBackend/src/main/resources/application.properties
Due: build-backend

update get-undeliv-order-by-box at backend
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
  JavaBackend/src/main/java/edu/tum/ase/project/repository/OrderRepository.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
Due: build-backend

update get-undeliv-order-by-box at rapberyPy
  Raspberry/const.py
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: none

fix raspberyPy
  Raspberry/config/conf.json
  Raspberry/main.py
Due: none

create change_order_status
  Raspberry/const.py
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: none
