Repository Sathwik-Amburi/ASE-Delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, build-authservice, publish-frontend, publish-backend, publish-authservice

.gitlab-ci.yml:

variables:
  FRONTEND_DIR: frontend
  BACKEND_DIR: JavaBackend
  AUTH_DIR: auth-service

stages:
  - build
  - publish
  - deploy

build-frontend:
  stage: build
  image: node:alpine
  script:
    - cd $FRONTEND_DIR
    - npm i
  only:
    changes:
      - $FRONTEND_DIR/**/*

build-backend:
  stage: build
  image: maven:3-amazoncorretto-19
  script:
    - cd $BACKEND_DIR
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - $BACKEND_DIR/target
  only:
    changes:
      - $BACKEND_DIR/**/*

build-authservice:
  stage: build
  image: maven:3-amazoncorretto-19
  script:
    - cd $AUTH_DIR
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - $AUTH_DIR/target
  only:
    changes:
      - $AUTH_DIR/**/*

publish-frontend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/frontend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
    - docker build -t $IMG_NAME:$IMG_TAG ./$FRONTEND_DIR
    - docker push $IMG_NAME:$IMG_TAG
  only:
    changes:
      - $FRONTEND_DIR/**/*

publish-backend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/backend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
    - docker build -t $IMG_NAME:$IMG_TAG ./$BACKEND_DIR
    - docker push $IMG_NAME:$IMG_TAG
  only:
    changes:
      - $BACKEND_DIR/target/**/*

publish-authservice:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/authservice
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
    - docker build -t $IMG_NAME:$IMG_TAG ./$AUTH_DIR
    - docker push $IMG_NAME:$IMG_TAG
  only:
    changes:
      - $AUTH_DIR/target/**/*

.deploy:
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  image: docker:20.10.23
  services:
    - docker:20.10.23-dind
  script:
    # Since this is not a persistent deployment using a cloud provider,
    # we deploy locally with ngrok on the GitLab Runner.
    # With a cloud provider the docker-compose.yml would be copied onto it and ran there.
    # Besides persistence, the effect is the same.
    - docker-compose up

change readme files
  README.md
  frontend/README.md
Due: build-frontend, publish-frontend

change readme for auth-service
  README.md
  auth-service/README.md
Due: build-authservice

change readme for auth-service
  auth-service/README.md
Due: build-authservice

python conf files
  Raspberry/conf.json
  Raspberry/main.py
Due: none

change contributions. enjoy :)
  contribution/contributions.pdf
Due: none

Replace contributions.pdf :)
  contribution/contributions.pdf
Due: none
