Repository Sathwik-Amburi/ASE-Delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, publish-frontend, publish-backend

build-frontend:
  stage: build
  image: node:alpine
  script:
  - cd $FRONTEND_DIR
  - npm i

build-backend:
  stage: build
  image: maven:3-amazoncorretto-19
  script:
  - cd $BACKEND_DIR
  - mvn clean install -DskipTests
  artifacts:
    paths:
    - $BACKEND_DIR/target

publish-frontend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/frontend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  image: docker:20.10.23
  services:
  - docker:20.10.23-dind
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
  ...

publish-backend:
  stage: publish
  variables:
    IMG_NAME: angryfishproject/backend
    IMG_TAG: latest
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  image: docker:20.10.23
  services:
  - docker:20.10.23-dind
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  script:
  ...

fix python
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: none

fix python 2
  Raspberry/main.py
Due: none

fix python 3
  Raspberry/main.py
Due: none

fix python 4
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: none

fix python 5
  Raspberry/main.py
Due: none

test changes
  JavaBackend/src/main/resources/application.properties
  frontend/.env
  frontend/src/components/customerDashboard/Customer.jsx
  frontend/src/components/delivererDashboard/Deliverer.jsx
  frontend/src/components/delivererDashboard/QRCode.jsx
  frontend/src/features/deliverer/delivererSlice.js
  frontend/src/features/user/orderSlice.js
Due: build-frontend, build-backend, publish-frontend

add auth service
  auth-service/Dockerfile
  auth-service/README.md
  auth-service/mvnw
  auth-service/mvnw.cmd
  auth-service/pom.xml
  auth-service/src/main/java/edu/tum/ase/project/RestApiApplication.java
  auth-service/src/main/java/edu/tum/ase/project/controller/AuthController.java
  auth-service/src/main/java/edu/tum/ase/project/model/Actor.java
  auth-service/src/main/java/edu/tum/ase/project/repository/ActorRepository.java
  auth-service/src/main/java/edu/tum/ase/project/service/AuthService.java
  auth-service/src/main/java/edu/tum/ase/project/utils/ActorType.java
  auth-service/src/main/java/edu/tum/ase/project/utils/ObjectDoesNotExist.java
  auth-service/src/main/java/edu/tum/ase/project/utils/OrderStatus.java
  auth-service/src/main/java/edu/tum/ase/project/utils/PropertiesReader.java
  auth-service/src/main/resources/application.properties
  auth-service/src/test/java/edu/tum/ase/project/ProjectApplicationTests.java
  auth-service/target/classes/application.properties
  auth-service/target/classes/edu/tum/ase/project/RestApiApplication.class
  auth-service/target/classes/edu/tum/ase/project/controller/ActorController.class
  auth-service/target/classes/edu/tum/ase/project/controller/AuthController.class
  auth-service/target/classes/edu/tum/ase/project/controller/EmailController.class
  auth-service/target/classes/edu/tum/ase/project/controller/OrderController.class
  auth-service/target/classes/edu/tum/ase/project/model/Actor.class
  auth-service/target/classes/edu/tum/ase/project/model/Order.class
  auth-service/target/classes/edu/tum/ase/project/repository/ActorRepository.class
  auth-service/target/classes/edu/tum/ase/project/repository/OrderRepository.class
  auth-service/target/classes/edu/tum/ase/project/service/ActorService.class
  auth-service/target/classes/edu/tum/ase/project/service/AuthService.class
  auth-service/target/classes/edu/tum/ase/project/service/EmailService.class
  auth-service/target/classes/edu/tum/ase/project/service/OrderService$1.class
  auth-service/target/classes/edu/tum/ase/project/service/OrderService.class
  auth-service/target/classes/edu/tum/ase/project/utils/ActorType.class
  auth-service/target/classes/edu/tum/ase/project/utils/ObjectDoesNotExist.class
  auth-service/target/classes/edu/tum/ase/project/utils/OrderStatus.class
  auth-service/target/classes/edu/tum/ase/project/utils/PropertiesReader.class
  auth-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  auth-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  docker-compose.yml
Due: none

change Dockerfile
  auth-service/Dockerfile
  auth-service/pom.xml
  auth-service/target/classes/application.properties
  auth-service/target/classes/edu/tum/ase/project/RestApiApplication.class
  auth-service/target/classes/edu/tum/ase/project/controller/ActorController.class
  auth-service/target/classes/edu/tum/ase/project/controller/EmailController.class
  auth-service/target/classes/edu/tum/ase/project/controller/OrderController.class
  auth-service/target/classes/edu/tum/ase/project/model/Order.class
  auth-service/target/classes/edu/tum/ase/project/repository/OrderRepository.class
  auth-service/target/classes/edu/tum/ase/project/service/ActorService.class
  auth-service/target/classes/edu/tum/ase/project/service/EmailService.class
  auth-service/target/classes/edu/tum/ase/project/service/OrderService$1.class
  auth-service/target/classes/edu/tum/ase/project/service/OrderService.class
  auth-service/target/classes/edu/tum/ase/project/utils/OrderStatus.class
  auth-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  auth-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: none

add authservice and ngrokauth
  auth-service/src/main/resources/application.properties
  auth-service/target/classes/application.properties
  docker-compose.yml
Due: none

Update .gitlab-ci.yml file, add authservice build and deploy
  .gitlab-ci.yml
Due: none

push and build instructions
  auth-service/README.md
Due: none

update authservice bulletpoint
  README.md
Due: none

add latest tag
  JavaBackend/README.md
Due: build-backend

correct image name
  README.md
Due: none

change triggers
  .gitlab-ci.yml
Due: none

first ideas
  Raspberry/main.py
Due: none

change ip
  Raspberry/const.py
  Raspberry/main.py
Due: none

change stuff
  JavaBackend/src/main/java/edu/tum/ase/project/RestApiApplication.java
Due: build-backend

changes
  Raspberry/main.py
Due: none

frontend done!
  frontend/src/components/customerDashboard/Customer.jsx
  frontend/src/components/delivererDashboard/Deliverer.jsx
  frontend/src/components/delivererDashboard/QRCode.jsx
  frontend/src/components/dispatcherDashboard/Dashboard.jsx
  frontend/src/components/dispatcherDashboard/QRCode.jsx
  frontend/src/components/login.jsx
  frontend/src/components/navBar.jsx
  frontend/src/features/user/orderSlice.js
  frontend/src/features/user/userSlice.js
Due: build-frontend, publish-frontend

small changes
  frontend/src/features/client/clientSlice.js
  frontend/src/features/order/orderSlice.js
Due: build-frontend, publish-frontend

changes
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: none

changes
  Raspberry/serverCommunicator.py
Due: none

final changes
  JavaBackend/src/main/resources/application.properties
  frontend/.env
Due: build-frontend, build-backend, publish-frontend

change
  JavaBackend/src/main/java/edu/tum/ase/project/RestApiApplication.java
  JavaBackend/src/main/resources/application.properties
Due: build-backend

add admin
  JavaBackend/src/main/java/edu/tum/ase/project/RestApiApplication.java
Due: build-backend

getUndelivOrderByBox returns list of orders
  JavaBackend/README.md
  JavaBackend/src/main/java/edu/tum/ase/project/controller/OrderController.java
  JavaBackend/src/main/java/edu/tum/ase/project/repository/OrderRepository.java
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
  Raspberry/main.py
  Raspberry/serverCommunicator.py
Due: build-backend

disallow assigning different deliverers to the same undelivered box
  JavaBackend/src/main/java/edu/tum/ase/project/service/OrderService.java
Due: build-backend

Update README.md
  README.md
Due: none

Replace contributions.pdf
  contribution/contributions.pdf
Due: none

update README.md
  JavaBackend/README.md
Due: build-backend

Path conditions:
  build-frontend: any of: frontend/Dockerfile, frontend/**/*
  build-backend: any of: JavaBackend/Dockerfile, JavaBackend/**/*
  publish-frontend: any of: frontend/Dockerfile, frontend/**/*
  publish-backend: any of: JavaBackend/target/**/*
